$titleColor: #4E4E4E; 
$hoverColor: #57A4A4;
$commentColor: #7C7C7C; 
$descColor: #5C5C5C; 
$sectionShotBgn: rgb(236, 236, 236);
$rss: #F8902E;
$facebook: #39599F;
$twitter: #45B0E3;
$dribbble: #D97AB0;
$pinterest: #CC212C;
$footerTextColor: #B9B9B9;
$black: #000000 ;
$white: #FFF;
$fontRoboro: 'Roboto', sans-serif; 
