.footer {
	background-color: $black;
	padding: 65px 0 70px 0;

	&__container {
		@include container(685px);
	}

	&__content {
		text-align: center;
	}

	&__title {
		@include text(16px, 22px, 700, $white);
		text-transform: uppercase;
		position: relative;

		&::before {
			@include preudoLine($white, 0 0 0 -12px);
		}

		&::after {
			@include preudoLine($white, 0 0 0 6px);
		}
	}

	&__text {
		@include text(16px, 28px, 400, $footerTextColor);
		padding-top: 20px;
	}

	&__media {
		padding: 35px 0;
	}

	&__media-item {
		border-radius: 50%;
		margin: 0 3px;
	}

	&__media-item--orange {
		@include circle($rss);
		padding: 12px;
	}

	&__media-item--darkBlue {
		@include circle($facebook);
		padding: 12px 16px;
	}

	&__media-item--blue {
		@include circle($twitter);
		padding: 12px 14px;
	}

	&__media-item--pink {
		@include circle($dribbble);
		padding: 11px;
	}

	&__media-item--red {
		@include circle($pinterest);
		padding: 11px 13px;
	}

	&__contacts {
		display: flex;
		justify-content: center;
		@include text(16px, 26px, 400, $footerTextColor);
	}

	&__address {
		margin-right: 25px;
		position: relative;
		&::after {
			@include slashLine(-18px);
		}
	}

	&__phone {
		margin-right: 25px;
		position: relative;
		&::after {
			@include slashLine(-18px);
		}
	}
}

@media screen and (max-width: 992px){
	.footer {
		padding: 55px 0;
	}
}

@media screen and (max-width: 480px){
	.footer {
		padding: 40px 0 50px 0;

		&__container {
			@include container(303px);
		}

		&__title {
			@include text(14px, 22px, 700, $white);
		}

		&__text {
			@include text(12px, 20px, 400, $footerTextColor);
			padding-top: 8px;
		}

		&__contacts {
			flex-direction: column;
			@include text(14px, 24px, 400, $footerTextColor);
		}

		&__media{
			padding: 25px 0;
		}

		&__address {
			margin-right: 0;
			&::after {
				@include slashLine(30px);
			}
		}
	
		&__phone {
			margin-right: 0;
			&::after {
				@include slashLine(55px);
			}
		}
	}
}
