body {
	font-family: "Roboto", sans-serif;
}

.container {
	@include container(1170px);
}

.header {
	display: flex;
	justify-content: center;
	padding: 45px 0 50px 0;

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		white-space: nowrap;
		padding: 0 34px;
	}

	&__link {
		color: #475569;
		text-decoration: none;
		@include text(11px, 22px, 400, $titleColor);
		letter-spacing: 1.1px;
		text-transform: uppercase;

		&:hover {
			color: $hoverColor;
		}
	}
}

.header-bgn {
	width: 100%;
	height: 550px;
	object-fit: cover;
}

.mobile-menu {
	display: none;
}

@media screen and (max-width: 992px) {
	.container {
		@include container(992px);
	}

	.header {
		padding: 40px 0;

		&__item {
			padding: 0 17px;
		}
	}

	.header-bgn {
		height: 361px;
	}
}

@media screen and (max-width: 650px) {
	.header {
		&__item {
			padding: 0 6px;
		}
		&__link {
			@include text(10px, 18px, 400, $titleColor);
		}
	}
}

@media screen and (max-width: 480px) {
	.container {
		@include container(480px);
	}

	.header {
		position: relative;
		justify-content: flex-end;
		padding: 20px 0;

		&__list {
			width: 180px;
		}

		&__item {
			padding: 4px 0 4px 12px;
		}
	}

	.header-bgn {
		height: 150px;
	}

	.header__list {
		display: none;
		flex-direction: column;
		background-color: #f5f5f5;
	}

	.header__list.active {
		display: block;
		right: 0;
		position: absolute;
		top: 57px;
	}

	.mobile-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		@include menuBtn;

		.mobile-menu__icon {
			@include icon(2px, 17px);

			&:before {
				@include icon-before(2px, 17px, -5px);
			}

			&:after {
				@include icon-after(2px, 17px, 5px);
			}
		}

		&.active {
			.mobile-menu__icon {
				transition-duration: 0.5s;
				background: transparent;

				&:before {
					right: -5px;
					transform: rotateZ(45deg) scaleX(1.25) translate(0px, 6px);
				}

				&:after {
					right: -5px;
					transform: rotateZ(-45deg) scaleX(1.25) translate(1px, -7px);
				}
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
}
