.section-posts {
	padding: 65px 0 70px 0;
}

.section-title {
	text-transform: uppercase;
	position: relative;

	&--left {
		@include text(16px, 22px, 700, $titleColor);
		margin-left: 8px;
		&::before {
			@include preudoLine($titleColor, 0 0 0 -8px);
		}
	}

	&--right {
		@include text(13px, 22px, 700, $titleColor);
		margin-right: 17px;
		&::after {
			@include preudoLine($titleColor, 0 0 0 6px);
		}
	}
}

.post {
	display: flex;
	flex-wrap: wrap;
	gap: 30px 25px;
	padding-top: 25px;

	&__content {
		display: flex;
		justify-content: space-between;
		flex: 1 1 calc(50% - 25px);
	}

	&__img {
		width: 160px;
		height: 140px;
	}

	&__info {
		margin-left: 20px;
	}

	&__title {
		@include text(16px, 30px, 700, $titleColor);
	}

	&__comment {
		@include text(12px, 20px, 400, $commentColor);
		padding: 3px 0 5px 0;
	}

	&__theme {
		position: relative;
		margin-right: 20px;
		&::after {
			@include slashLine(-15px);
		}
	}

	&__description {
		@include text(14px, 26px, 400, $descColor);
	}
}

.section-bgn {
	background-color: $sectionShotBgn;
}

.section-shots {
	padding: 50px 0;
}

.shots-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 25px;
}

.shot {
	display: flex;
	justify-content: space-between;
	gap: 0 10px;

	&__item {
		width: 100%;
		height: 285px;
	}
}

@media screen and (max-width: 992px) {
	.section-posts {
		padding: 55px 0 60px 0;
	}

	.post {
		flex-direction: column;

		&__info {
			margin-left: 20px;
			max-width: 405px;
		}

		&__content {
			justify-content: flex-start;
		}
	}

	.shot {
		justify-content: center;
		&__item {
			height: 250px;
		}

		&__block:last-child {
			display: none;
		}
	}
}

@media screen and (max-width: 480px) {
	.section-title {
		&--left {
			@include text(14px, 22px, 700, $titleColor);
		}
	}

	.section-posts {
		padding: 40px 0;
	}

	.post {
		&__description {
			display: none;
		}

		&__content {
			flex-direction: column;

			&:last-child {
				display: none;
			}
		}

		&__info {
			margin-left: 0;
		}

		&__img {
			margin-bottom: 10px;
		}

		&__title {
			@include text(14px, 30px, 700, $titleColor);
		}

		&__comment {
			@include text(11px, 20px, 400, $commentColor);
		}
	}

	.shot {
		justify-content: center;
		
		&__item {
			height:300px;
		}

		&__block:nth-child(n+2) {
			display: none;
		}
	}
	.section-bgn {
		background-color: $white;
	}

	.section-shots {
		padding: 40px 0;
	}

	.shots-heading {
		padding-bottom: 13px;
	}

	.section-title.section-title--right {
		display: none;
	}
}
