@mixin container($maxWidth) {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 10px;
}

@mixin text($fontSize, $lineHeight, $fontWeight, $textColor) {
	font-weight: $fontWeight;
	font-size: $fontSize;
	line-height: $lineHeight;
	color: $textColor;
}

@mixin preudoLine($backgroundColor, $margin) {
	content: '';
	position: absolute;
	top: 50%;
	width: 6px;
	height: 2px;
	background-color: $backgroundColor;
	margin: $margin;
}

@mixin circle($color) {
	border: 2px solid $color;
	color: $color;
}

/****************************/

@mixin slashLine($right) {
	content: '/';
	position: absolute;
	right: $right;
}

@mixin menuBtn {
	width: 44px;
	height: 37px;
	transition-duration: 0.5s;
	background-color: $black;
}

@mixin icon($height, $width) {
	transition-duration: 0.5s;
	position: absolute;
	height: $height;
	width: $width;
	top: 39px;
	right: 13px;
	background-color: white;
}

@mixin icon-before($height, $width, $top) {
	transition-duration: 0.5s;
	position: absolute;
	width: $width;
	height: $height;
	background-color: white;
	content: '';
	top: $top;
}

@mixin icon-after($height, $width, $top) {
	transition-duration: 0.5s;
	position: absolute;
	width: $width;
	height: $height;
	background-color: white;
	content: '';
	top: $top;
}
